extends layout


block resultat    
        .resultheader
                .dropdown#left
                    a(href="#", data-toggle="dropdown").dropdown-toggle 
                        i(class="fa fa-bars" aria-hidden="true")

                        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
                            li
                            a(href="/" target="_blank", tabindex='-1') Home
                            li 
                            a(href="/ResultEntering" target="_blank", tabindex='-1') Enter Your Result
                            li.divider
                            li
                            a(href='/error' target="_blank", tabindex='-1') Error page

                #logo 
                    .logo
                        img(src="logo.jpg")


                div.flex-container1
                    .flex-item2
                        h1 Latest votes
                        ul.boxedul
                            li.boxedli 
                                span#heading Communists
                                ul#theNews0(title='Communist party')              
                                // here goes the list for the votes.
                        ul.boxedul
                            li.boxedli
                                span#heading Democrats
                                ul#theNews1              
                                // here goes the list for the votes.

                        ul.boxedul
                            li.boxedli
                                span#heading Green party
                                ul#theNews2               
                                // here goes the list for the votes.

                        ul.boxedul
                            li.boxedli
                                span#heading Pink party
                                ul#theNews3                
                                // here goes the list for the votes.

                    .flex-item2
                        h1 Total count
                        ul.boxedul
                            li.boxedli 
                                span#heading Communists
                                ul#totalc
                        ul.boxedul
                            li.boxedli
                                span#heading Democrats
                                ul#totald
                        ul.boxedul
                            li.boxedli
                                span#heading Green party
                                ul#totalg
                        ul.boxedul
                            li.boxedli 
                                span#heading Pink party
                                ul#totalp
        script.

            var total=
                {
                            Communists:0,
                            Democrats:0,
                            Greenparty:0,
                            Pinkparty:0 
                };

            function createlist(x,y){
                   total[x] = Number(total[x]) + Number(y.votes);
            }

        script.

          socket.on('vote update', function (vote) {


            // current votes:

            const list0 = document.getElementById('theNews0');
            const listItem0 = document.createElement('li');

            const list1 = document.getElementById('theNews1');
            const listItem1 = document.createElement('li');

            const list2 = document.getElementById('theNews2');
            const listItem2 = document.createElement('li');

            const list3 = document.getElementById('theNews3');
            const listItem3 = document.createElement('li');

            let x = vote.party;
            
        
            if (x === 'Communists') {

                createlist('Communists', vote);  

                list0.appendChild(listItem0);
                listItem0.innerText = `${vote.church}, ${vote.votes}` ;
  
            }

            if (x === 'Democrats') {

                createlist('Democrats', vote);

                list1.appendChild(listItem1);

                listItem1.innerText = `${vote.church}, ${vote.votes}`;
            }    
            if (x === 'Green party') {

                createlist('Greenparty', vote);

                list2.appendChild(listItem2);
                listItem2.innerText = `${vote.church}, ${vote.votes}`;
            } 
            if (x === 'Pink party') {

                createlist('Pinkparty', vote);

                list3.appendChild(listItem3);
                listItem3.innerText = `${vote.church}, ${vote.votes}`;
            }


            //total votes:
            const totalnumber0 = document.getElementById('totalc');
            const totalitem0 = document.createElement('li');

            const totalnumber1 = document.getElementById('totald');
            const totalitem1 = document.createElement('li');

            const totalnumber2 = document.getElementById('totalg');
            const totalitem2 = document.createElement('li');

            const totalnumber3 = document.getElementById('totalp');
            const totalitem3 = document.createElement('li');

            totalnumber0.innerText = total.Communists;
            totalnumber1.innerText = total.Democrats;
            totalnumber2.innerText = total.Greenparty;
            totalnumber3.innerText = total.Pinkparty;

          })

        script.
            $('.dropdown-toggle').dropdown()
